<div class="jumbotron">
  <h3><a href="/"><div class="panel-default">Hack-free cloud</div></a></h3>
</div>
<div class="panel">
  <p>Recover files & reset password</p>
  <form name="passwordloss" method="post" action="/recoverFiles" enctype="multipart/form-data"">
    <p>Username: <input type="text" name="username"/> </p>
    <p>New password: <input type="password" name="password"/> </p>
    <input class="btn btn-primary btn-sm" type="file" name= "uploadRecovery" id="uploadRecovery">Upload recovery file</input>
    <input type="submit" value="Submit" />
  </form>
</div>
<br>
